---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Resume - Kundan Gosavi">
  <div class="min-h-screen bg-white dark:bg-black">
    <div class="mx-auto max-w-6xl px-6 py-20 md:px-10">
      <div class="mt-12 flex flex-col items-center" >
        <h1 class="mb-4 font-playfair text-5xl text-zinc-900 dark:text-white">My Resume</h1>

        <a href="/resume.pdf" download class="mb-8 text-dark underline decoration-wavy underline-offset-8 dark:text-white/70">
            Download the PDF
        </a>
      </div>
      
      <div class="flex justify-center overflow-hidden dark:border-zinc-800">
        <iframe 
          src="/resume.pdf" 
          width="70%" 
          height="800"
          class="border-none"
        />
      </div>
    </div>
</div>
