---
import Card from '../Global/Workcard.astro';
import Featuredcard from '../Global/Featuredcard.astro';
import Blogcard from '../Global/Blogcard.astro';
---

<section id="main-content">
    <div class="flex flex-col items-center justify-center mt-16">
     <span class="text-4xl font-bold text-gray-800 dark:text-gray-200"> Work Experience </span>
        <div class="w-full flex items-center justify-center mt-8 px-4">
            <Card
                logo="/pihow_logo.jpg"
                alt="Pihow Logo"
                title="Pihow Services"
                role="Web Developer Intern"
                description="Working on scalable web applications."
                duration="January 2026 - Present"
                locationType="Remote"
            />
        </div>
    </div>

    <div class="flex flex-col items-center justify-center mt-28">
        <span class="text-4xl font-bold text-gray-800 dark:text-gray-200"> Featured Work</span>
        <div class="w-full mt-4 px-4">
            <Featuredcard
                thumbnail="/Ai_saathi_thumbnail.png"
                altText="AI Saathi Thumbnail"
                title="AI Saathi"
                hook="An AI-powered youth mental wellness platform."
                Tags={['AI', 'Chatbot', 'Python', 'MERN']}
                category="Software Engineering"
                date="September 2025 - October 2025"
                githubUrl="https://github.com/kundangosavii/AI-SAATHI",
                liveUrl="https://ai-saathi-by-mind-spring-ai-1.vercel.app/"
            />
            <Featuredcard
                thumbnail="/saptcodex.img.png"
                altText="AI Saathi Thumbnail"
                title="SaptCodex"
                hook="AI-Powered Programming & Career Readiness Platform"
                Tags={['AI', 'Chatbot', 'Python', 'MERN']}
                category="Software Engineering"
                date="September 2025 - October 2025"
                githubUrl="https://github.com/kundangosavii/SaptCodex",
                liveUrl="https://saptcodex.com"
            />
        </div>
    </div>

    <div class="flex flex-col md:flex-row mt-28 w-full items-start justify-center">
        <div class="flex-1 flex flex-col items-center justify-start mt-16 md:mt-0">
            <Blogcard />
        </div>
        <div class="flex-1 flex flex-col items-center justify-start mt-16 md:mt-0">
            <div class="w-full max-w-xl mx-auto rounded bg-white p-10 flex flex-col items-start gap-4 dark:bg-black">
                <span class="text-4xl font-serif text-bold text-gray-900 mb-1 tracking-wider uppercase dark:text-white">Open For Collaboration</span>
                <p class="text-gray-600 text-lg font-poppins mb-2 dark:text-white/50">I'm always excited to connect with like-minded individuals for AI and ML projects, research, or creative tech collaborations. Let's build something impactful together!</p>
                <div class="flex w-full justify-between items-center mt-4">
                    <span class="text-base text-gray-800 font-medium dark:text-white/60">Let's connect</span>
                    <a href="/resume" target="_self" rel="noopener noreferrer" class="ml-4 px-6 py-2 font-bold underline underline-offset-4 decoration-dashed">View CV</a>
                </div>
            </div>
        </div>
    </div>

</section>