---

---

<section class="relative min-h-screen flex items-center justify-center">

  <div class="text-center">

    <h1 class="font-serif text-9xl font-normal">
        KUNDAN
    </h1>

    <h2 class="font-poppins text-6xl font-normal tracking-wide text-purple-600 dark:text-purple-400">
    GOSWAMI
    </h2>

    <div class="bg-white/10 dark:bg-[#0b0b0b] backdrop-blur-md w-96 h-24 mx-auto mt-8 rounded-md flex items-center justify-center">
      <p class="font-poppines text-sm text-gray-700 dark:text-gray-300 px-4">
       <span class="text-md font-bold">Second year Computer Science student</span></br><span class="text-md font-bold">Exploring in AI and ML</span></br>
       <span class="text-md font-bold">Passionate about building innovative solutions</span>
      </p>
    </div>



  </div>

</section>