---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{title}</title>

  <meta name="description" content="Portfolio of Kundan Gosavi - AI and Software Developer" />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />

  <script is:inline>
    if(localStorage.getItem('theme') === 'dark') {
      document.documentElement.classList.add('dark')
    }
  </script>

</head>

<body class="bg-white text-gray-900 dark:bg-slate-950 dark:text-gray-200">

  <!-- Navbar -->
  <Navbar />

  <!-- Page Content -->
  <main class="min-h-screen">

    <slot />
    <Hero />
    <script is:inline>
    let toggle = document.getElementById('theme-toggle')
    toggle.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark')
      if (document.documentElement.classList.contains('dark')) {
        localStorage.setItem('theme', 'dark')
      } else {
        localStorage.setItem('theme', 'light')
      }
    })
    
    </script>

  </main>

  <!-- Footer -->

</body>

</html>