---
---

<footer class="w-full bg-white mt-16 py-12 flex flex-col items-center justify-center gap-6 dark:bg-black">
        <span class="text-xs tracking-widest text-gray-600 uppercase mb-2">Stay connected</span>
        <div class="flex flex-row items-center gap-2 w-full max-w-md justify-center">
            <input type="text" placeholder="enter your mail" class="bg-white border border-gray-300 rounded px-4 py-2 text-gray-900 font-mono w-full focus:outline-none focus:border-yellow-500 transition dark:bg-black text-gray-100 border-gray-900" />
            <button class="px-5 py-3 bg-gray-200 text-gray-900 font-mono text-xs dark:bg-gray-900 text-gray-200 hover:bg-gray-800 hover:text-white transition">Subscribe</button>
        </div>
        <span class="text-xs tracking-widest text-gray-600 uppercase mt-6">Yours Truly,</span>
        <span class="text-3xl font-serif italic text-black mb-2 dark:text-white">Kundan Nimba Goswami</span>
        <span class="text-xs tracking-widest text-gray-600 uppercase mt-6">© 2026</span>
</footer>